<section id="combat">
  <div id="controls">
    <dl>
      <dt>c</dt>
      <dd>Create figure</dd>
      <dt>d</t>
      <dd>Draw path</dd>
      <dt>[</dt>
      <dd>reduce</dd>
      <dt>]</dt>
      <dd>enlarge</dd>
    </dl>
  </div>
  <div id="viewport">
    <canvas id="map" width="1360" height="800">
  </div>
  <%= javascript_tag do %>
    $(function() {
      var json = <%= @json.html_safe %>;
      var map = new Map(json, 'map', 'viewport');
      map.init();
    });
  <% end %>
</section>
