<section id="combat">
  <div id="sidebar">
    <ul id="controls">
      <li><%= button_to('New Map', maps_path) %></li>
      <li data-control="create figure"><button>Figure</button> <input type="text" size="1" maxlength="1" value="X"></li>
      <li data-control="draw wall"><button>Wall</button></li>
      <li data-control="select"><button>Trash</button></li>
    </ul>
  </div>
  <div id="viewport">
    <canvas id="map"></canvas>
  </div>
  <%= javascript_tag do %>
    $(function() {
      Combat.init(<%= @json.html_safe %>, 'map', 'viewport', 'controls');
    });
  <% end %>
</section>
