<section id="combat">
  <div id="controls">
    <%= button_to('New Map', maps_path) %>
    <dl>
      <dt>c</dt>
      <dd>
        Create figure
        <dl>
          <dt>any key</dt>
          <dd>store key in buffer</dd>
          <dt>click</dt>
          <dd>draw buffered key</dd>
        </dl>
      </dd>
      <dt>d</dt>
      <dd>
        Draw path
        <dl>
          <dt>click</dt>
          <dd>add point to path</dd>
        </dl>
      </dd>
      <dt>click</dt>
      <dd>
        select character
        <dl>
          <dt>click</dt>
          <dd>move</dd>
          <dt>[</dt>
          <dd>reduce</dd>
          <dt>]</dt>
          <dd>enlarge</dd>
          <dt>backspace</dt>
          <dd>remove</dd>
        </dl>
      </dd>
      <dt>[</dt>
      <dd>zoom in</dd>
      <dt>]</dt>
      <dd>zoom out</dd>
      <dt>left</dt>
      <dd>pan left</dd>
      <dt>right</dt>
      <dd>pan right</dd>
      <dt>up</dt>
      <dd>pan up</dd>
      <dt>down</dt>
      <dd>pan down</dd>
      <dt>=</dt>
      <dd>reset viewport</dd>
      <dt>escape</dd>
      <dd>end action</dd>
    </dl>
  </div>
  <div id="viewport">
    <canvas id="map" width="1320" height="716">
  </div>
  <%= javascript_tag do %>
    $(function() {
      var json = <%= @json.html_safe %>;
      var map = new Map(json, 'map', 'viewport');
      map.init();
    });
  <% end %>
</section>
