body {
  overflow: hidden;
}

#combat {
  display: table;
  width: 100%;
}

#combat #sidebar {
  display: table-cell;
  width: 12em;
  vertical-align: top;
  padding: 1em;
}

#combat #controls .active button {
  background-color: green;
}

#combat #viewport {
  display: table-cell;
}

#combat #trashcan {
  padding: 0.5em;
}
