#combat {
  display: table;
  width: 100%;
}

#combat #controls {
  display: table-cell;
  width: 12em;
  vertical-align: top;
}

#combat #viewport {
  display: table-cell;
}

#combat #controls dl > dd {
  display: none;
}
