body {
  overflow: hidden;
}

#combat {
  display: table;
  width: 100%;
}

#combat #controls {
  /* display: table-cell; */
  display: none;
  width: 12em;
  vertical-align: top;
  padding: 1em;
}

#combat #viewport {
  display: table-cell;
}

#combat #controls dl > dd {
  display: none;
}
